*{
    margin: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #E5E5E5;
    font-weight: 300;
}

.container{
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.header{
    background-image: url('../img/train.png');
    background-color: #FFA800;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__logo{
    height: 64px;
    line-height: 64px;
}

.header__logo__logo{
    margin-top: 15px;
    margin-left: 258px;
    font-weight: 900;
    font-size: 36px;
}

.header__navbar{
    height: 94px;
    line-height: 94px;
    background: #292929;
}

.header__navlist{
    margin-left: 258px;
    list-style: none;
    vertical-align: middle;
    padding-left: 0;
}

.nav-link {
    margin-right: 83px;
    font-size: 30px;
    display: inline-block;
}
.header-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.header__slogan{
    width: 506px;
    margin-top: 415px;
    margin-left: 348px;
}

.header__slogan h1{
    font-size: 42px;
    font-weight: 300;
}

.ticket{
    margin-top: 298px;
    margin-left: 104px;
    width: 729px;
    background-color: #292929;
    opacity: 80%;
}

.ticket-form{
    margin: 0;
    padding: 20px;
}

.ticket-form__head {
    margin-top: 79px;
    margin-bottom: 7px;
    font-size: 30px;
    line-height: 35px;
    font-weight: 300;
}

.ticket-form__input{
    height: 60px;
    width: 325px;
    border-radius: 3px;

    padding-left: 11px;
}

.reverse-points{
    box-sizing: border-box;
    border: none;
    width: 24px;
    height: 24px;
    background-image: url(../img/circle.svg);
    background-color: #292929;
    opacity: 80%;
    background-size: 20px;
}

.find-tickets{
    margin-top: 92px;
    margin-bottom: 52px;
    height: 60px;
    width: 325px;
    border-radius: 5px;
    background-color: #FFA800;

    font-size: 24px;
    font-weight: 700;
}

.header::after{
    content: '';
    display: block;
    width: 100%;
    height: 8px;
    box-sizing: border-box;
    background-color: #FFA800;
}

.about-us{
    color: black;
}

.about-us__title{
    margin-top: 144px;
    margin-left: 258px;

    font-weight: 500;
    font-size: 36px;
}

.about-us__block {
    margin-top: 30px;
    margin-left: 258px;
    display: flex;
    flex-direction: row;
}
.line-vertical::before{
    content: '';
    display: block;
    width: 8px;
    height: 100%;
    box-sizing: border-box;
    background-color: #FFA800;
}
.about-us__content{
    margin-left: 19px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
}

.about-us__content p{
    margin-top: 1em;
}

/*how-its-work*/

.how-its-work{
    margin-top: 144px;
    background-image: url(../img/how-its-work-img.png);
    background-color: #FFA800;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.how-its-work__part1{
    margin-top: 90px;
    margin-bottom: 107px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.how-its-work__link{
    font-size: 36px;
    line-height: 42px;
    font-weight: 500;
}
.how-its-work__know-more{
    height: 60px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    padding-left: 75px;
    padding-right: 75px;

    border-radius: 3px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    color:#E5E5E5;
}

.how-its-work__part2{
    width: 906px;
    margin-top: 120px;
    margin-bottom: 90px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.how-its-work__options{
    width: 226px;
}
 
.how-its-work__option1, .how-its-work__option2, .how-its-work__option3{
    margin-bottom:35px;
      display: flex;
      justify-content: center;
      
	  border-radius: 50%;
	  width: 135px;
	  height: 135px;
      background-color: #E5E5E5;
      border: 6px solid rgba(255, 255, 255, 0.6);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.how-its-work__option1 img, .how-its-work__option2 img, .how-its-work__option3 img{
    width: 33px;
    height: 33px;
    margin-top: auto;
    margin-bottom: auto;
}
.how-its-work__option-description h3{
    
    width: 100%;
    font-size: 1.5em;
    text-align: center;
    font-weight: 300;
}
